html, body {
    scroll-behavior: smooth;
    min-height: 100vh;
    margin: 0;
    font-family: 'Cairo', sans-serif;
    background-color: #FFF8EB;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;  /* يضمن أن محتوى الصفحة يأخذ المساحة المتاحة */
    overflow-x: hidden;  /* لمنع التمرير الأفقي */
}

.Navbar {
    width: 100%;
    height: 80px;
    background-color: #E2D3DB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0 20px;
    align-self: flex-start;
}

.ArEn {
    display: flex;
    align-items: start;
    gap: 5px;
    padding-left: 30px;
}

.ArEn .link {
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #541A7D;
}

.ArEn .link.active-ar {
    color: #06B211;  /* اللون الأخضر عند تفعيل AR */
    font-weight: 900;
    text-decoration: underline;
}

.ArEn .link.active-en {
    color: #06B211;  /* اللون الموف عند تفعيل EN */
    font-weight: 700;
    text-decoration: underline;
}

.ArEn .link:hover {
    opacity: 0.8;
}

.nav-links {
    display: flex;
    align-items: start;
    gap: 30px;
    padding-right: 50px;
}

.nav-links .link {
    font-size: 24px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: #541A7D;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.nav-links .link:hover {
    text-decoration: underline;
}

.main {
    width: 100vw;
    height: 650px;
    background-image: url('../assets/image/Home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}

.right {
    text-align: right;
    flex: 1;
    padding: 50px;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 617px;
    height: 73px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
}

.title span {
    font-size: 48px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

/* تنسيق النص الأول */
.title span:nth-child(1) {
    color: #541A7D;
}

/* تنسيق النص الثاني */
.title span:nth-child(2) {
    color: #A175C2;
}

/* تنسيق النص الثالث */
.title span:nth-child(3) {
    color: #541A7D;
}

.text-description {
    width: 700px;
    text-align: right;
    color: #320652;
    font-size: 30px;
    font-weight: 400;
}

.btnn {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.btnn button {
    width: 177px;
    height: 58px;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    text-align: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    background-color: #541A7D;
    color: #E7DEEC;
}

.btnn button:hover {
    background-color: #E7DEEC;
    color: #541A7D;
    border: #541A7D solid 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
}

.btnn button img {
    width: 30px;
    height: 30px;
}

.main .logo {
    width: 550px;
    height: 450px;
}

.NumberOfStudentsAndTeachers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
    background-color: #C7B6D6;
    width: 100%;
    height: 300px;
}

.group {
    text-align: center;
    margin: 50px;
}

.num {
    display: flex;
}

.num h1 {
    font-size: 60px;
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    color: #ffffff;
    margin: 10px;
}

.num img {
    width: 40px;
    height: 40px;
    margin-top: 30px;
}

.group p {
    font-size: 32px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: #541A7D;
    margin-top: 10px;
}

.Features {
    padding: 50px 0;
    height: 720px;
    background: #FFF8EB;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}

.Features h2 {
    color: #541A7D;
    font-size: 48px;
    font-weight: 1000;
    margin-top: 43px;
}

.Features p {
    color: #9953CE;
    font-size: 26px;
    font-weight: 400;
    margin: 20px auto;
    width: 60%;
}

.Features .cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}

.Features .card {
    width: 385px;
    height: 340px;
    background: #9E7DB7;
    box-shadow: 3px 10px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}

.Features .card img {
    width: 89px;
    height: 90px;
}

.Features .card h4 {
    font-size: 30px;
    font-weight: 700;
}

.Features .card p {
    font-size: 24px;
    font-weight: 700;
    color: #320652;
    text-align: center;
}

.Howit {
    text-align: center;
    padding: 50px 20px;
    background: #C7B6D6;
}

.Howit h2 {
    font-size: 48px;
    color: #551A7D;
    margin-bottom: 30px;
}

.Howit .cards {
    display: flex;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
}

.Howit .cards div {
    background: #FFF8EB;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.326);
    transition: transform 0.3s ease-in-out;
    width: 300px;
    height: 300px;
    border: 4px dotted #541A7D;
}

.cards div:hover {
    transform: translateY(-5px);
}

.Howit .cards h4 {
    font-size: 25px;
    color: #541A7D;
    padding-top: 100px;
}

.Howit .cards .card2 {
    margin-top: 100px;
}

.Howit .cards .card3 {
    margin-top: 200px;
}

.ContactUs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 100px;
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 120px;
}

.photo img {
    width: 399px;
    height: 403px;
}

.icons {
    display: flex;
    gap: 100px;
}

.icons a img {
    width: 50px;
    height: 43px;
}

.contact-box {
    flex-grow: 1;
    background: #E7DEEC;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 650px;
}

.contact-title {
    text-align: center;
    color: #541A7D;
    font-size: 48px;
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
}

.contact-box label {
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
}

.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
}

.contact-box textarea {
    resize: none;
    height: 100px;
}

.submitbtn {
    width: 150px;
    height: 50px;
    background: #541A7D;
    color: white;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.submitbtn:hover {
    background-color: #E7DEEC;
    color: #541A7D;
    border: #541A7D solid 4px;
}

.submitbtn:active {
    transform: scale(0.98);
}


/* ************************************************************************ */
.footer-container {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #9E7DB7;
    color: #E7DEEC;
    max-height: 200px;
    flex-wrap: wrap; /* ليتعامل مع الشاشات الصغيرة */
}

.footer-container .left-text, 
.footer-container .right-text {
    display: block;
}

.footer-container .privacy-terms {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.footer-container .nav-links {
    display: flex;
    flex-wrap: wrap; /* للسماح بالتوزيع المناسب على الشاشات الصغيرة */
    gap: 30px;
    margin: 10px 0;
}

.footer-container .nav-links .link {
    font-size: 24px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: #541A7D;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.footer-container .nav-links .link:hover {
    text-decoration: underline;
}

.contact-email,
.privacy-terms p,
.copyright-text {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    margin: 5px 0;
}

.footer-container .right-text .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-container .logo {
    width: 70px;
    height: 55px;
}

.footer-container .brand-name {
    color: #541A7D;
    font-weight: 700;
    margin-right: 10px;
}

.footer-container .iconsFooter {
    display: flex;
    gap: 40px;
    margin: 10px 0;
}

.footer-container .iconsFooter a img {
    width: 30px;
    height: 30px;
}
