html,
body {
    scroll-behavior: smooth;
    min-height: 100vh;
    margin: 0;
    font-family: 'Cairo', sans-serif;
    background-color: #FFF8EB;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
}


/* تعديل المسافات والتراص عند اللغة العربية */
.body[dir="rtl"] .navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

.body[dir="ltr"] .navbar-nav {
    margin-right: auto;
    margin-left: 0;
}

/* تحسين تصميم زر اللغات */
.ArEn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
}

.body[dir="rtl"] .ArEn {
    padding-left: 30px;
    padding-right: unset;
}

/* تعديل المظهر عند تغيير اللغة */
.ArEn .link {
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #541A7D;
    cursor: pointer;
}

.ArEn .link.active-ar {
    color: #06B211;
    font-weight: 900;
    text-decoration: underline;
}

.ArEn .link.active-en {
    color: #06B211;
    font-weight: 700;
    text-decoration: underline;
}


/* تخصيص شكل الـ Navbar */
.navbar {
    width: 100%;
    height: 80px;
    background-color: #E2D3DB !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0 20px;
}

/* تخصيص الروابط داخل الـ Navbar */
.navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 700;
    color: #541A7D !important;
    text-decoration: none;
    transition: 0.3s ease-in-out;

}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

/* تخصيص زر اللغات */
.ArEn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
}
.ArEn .link:hover {
    opacity: 0.8;
}
/* تحسين تناسق الأزرار عند تصغير الشاشة */
.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
}


.main {
    width: 100vw;
    height: 700px;
    background-image: url('../assets/image/Home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.text-container {
    text-align: right;
    padding: 50px;
}

.body[dir="ltr"] .text-container{
    text-align: left;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 617px;
    height: 73px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
}


.title span {
    font-size: 40px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    display: block;
}

.body[dir="ltr"] .title span {
    font-size: 32px;
}

.title span:nth-child(1) {
    color: #541A7D;
}

.title span:nth-child(2) {
    color: #A175C2;
}

.title span:nth-child(3) {
    color: #541A7D;
}

.text-description {
    max-width: 700px;
    color: #320652;
    font-size: 30px;
    font-weight: 400;
}

.body[dir="ltr"] .text-description{
    font-size: 25px;
}

.btnn {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.btnn button {
    width: 185px;
    height: 58px;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    text-align: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    background-color: #541A7D;
    color: #E7DEEC;
}

.body[dir="ltr"] .btnn button {
    width: 250px;
    height: 58px;
    font-size: 20px;
}

.btnn button:hover {
    background-color: #E7DEEC;
    color: #541A7D;
    border: #541A7D solid 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
}

.btnn button img {
    width: 25px;
    height: 25px;
}

.logo {
    width: 550px;
    height: 450px;
}


.NumberOfStudentsAndTeachers {
    background-color: #C7B6D6;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group {
    text-align: center;
}

.num {
    display: flex;
    justify-content: center;
    align-items: center;
}

.num h1 {
    font-size: 60px;
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    color: #ffffff;
    margin: 10px;
}

.num img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.group p {
    font-size: 32px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: #541A7D;
    margin-top: 10px;
}


.features-section {
    padding: 50px 0;
    background: #fff8eb;
}

.features-title {
    color: #541a7d;
    font-size: 48px;
    font-weight: 1000;
    margin-top: 43px;
}

.features-description {
    color: #9953ce;
    font-size: 26px;
    font-weight: 400;
    margin: 20px auto;
    width: 60%;
}

.feature-card {
    width: 22rem;
    height: 21rem;
    background: #9e7db7 !important;
    box-shadow: 3px 10px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    color: white;
}

.feature-img {
    width: 89px;
    height: 90px;
    margin: auto;
}

.feature-title {
    font-size: 30px;
    font-weight: 700;
}

.feature-text {
    font-size: 24px;
    font-weight: 700;
    color: #320652;
    text-align: center;
}

/* ************************************** */
.howit-section {
    text-align: center;
    padding: 50px 20px;
    background: #c7b6d6;
}

.howit-title {
    font-size: 48px;
    color: #551a7d;
    margin-bottom: 30px;
}

.howit-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.howit-card {
    background: #fff8eb !important;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.326);
    transition: transform 0.3s ease-in-out;
    width: 300px;
    height: 300px;
    border: 4px dotted #541a7d;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.howit-card:hover {
    transform: translateY(-5px);
}

.howit-text {
    font-size: 35px;
    color: #541a7d;
    text-align: center;
    padding-top: 70px;

}

.step2 {
    margin-top: 100px;
}

.step3 {
    margin-top: 200px;
}

/* **************************************** */
.contact-us {
    padding: 50px 20px;
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.email-photo {
    width: 350px;
    height: auto;
}

.icons {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.icon {
    font-size: 40px;
    color: #541a7d;
    transition: color 0.3s ease-in-out;
}

.icon:hover {
    color: #9953ce;
}


.contact-box {
    background: #e7deec;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-title {
    text-align: center;
    color: #541a7d;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.submitbtn {
    width: 150px;
    height: 50px;
    background: #541a7d;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.submitbtn:hover {
    background-color: #e7deec;
    color: #541a7d;
    border: 4px solid #541a7d;
}

.submitbtn:active {
    transform: scale(0.98);
}

/* ************************************************************************ */
.footer-container {
    background-color: #9E7DB7;
    color: #E7DEEC;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 700;

}

.footer-container .contact-container{
    margin-right: 30px;
}
.body[dir="ltr"] .footer-container .contact-container{
    margin-left: 30px;
}

.footer-container .contact-email{
    margin-right: 100px;
}

.body[dir="ltr"] .footer-container .contact-email{
    margin-left: 130px;
}

.footer-container .iconsFooter {
    display: flex;
    gap: 20px;
    margin: 10px;
    margin-right: 170px;
}
.body[dir="ltr"] .footer-container .iconsFooter{
    margin-left: 170px;
}

.footer-container .privacy-terms {
    margin-right: 80px;
}
.body[dir="ltr"] .footer-container .privacy-terms{
    width: 350px;
}

.footer-container .iconsFooter .icon {
    font-size: 30px;
    color: #541A7D;
    transition: color 0.3s ease-in-out;
}

.footer-container .iconsFooter .icon:hover {
    color: #E7DEEC;
}

.footer-container .nav-links .nav-link {
    font-size: 20px;
    font-weight: 700;
    color: #541A7D !important;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.body[dir="ltr"] .footer-container .nav-links .nav-link{
    font-size: 12px;
}

.footer-container .nav-links .nav-link:hover {
    text-decoration: underline;
}

.footer-container .logo-container {
    display: flex;
    margin-left: 100px;
    gap: 10px;
}
.body[dir="ltr"] .footer-container .logo-container{
    margin-right: 200px;
}

.footer-container .logo {
    width: 70px;
    height: 55px;
}

.footer-container .brand-name {
    color: #541A7D;
    font-weight: 700;
}