/* login-form.css */
.login-container {
    max-width: 400px;
    height: 350px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 30px;
    background-color: #541a7d8f;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.282);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


.login-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #ffffff;
}

.Col{
    display: flex;
}
.emailIcon {
    width: 22px;
    height: 20px;
    margin-left: 10px;
    margin-top: 6px;
}
.passwordIcon{
    width: 19px;
    height: 20px;
    margin-left: 10px;
    margin-top: 6px;
}
.login-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.register, .forgot-password {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.register:hover, .forgot-password:hover {
    text-decoration: underline;
}

.submit-btn {
    width: 150px;
    height: 60px;
    width: 100%;
    padding: 10px;
    background-color: #541A7D;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #E7DEEC;
    color: #541A7D;
    border: #541A7D solid 4px;
}
