/* تصميم الـ Navbar */
.navbar-content {
    width: calc(100% - 270px); /* اجعله يغطي المساحة بجانب الـ Sidebar */
    height: 60px;
    background: #9E7DB7;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 270px; /* يجب أن يطابق عرض الـ Sidebar */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-family: 'Cairo', sans-serif;
}


/* اسم العنوان */
.navbar-content .navbar-title {
    font-size: 24px;
    font-weight: 600;
}

/* حاوية الإشعارات */
.navbar-content .notifications-container {
    position: relative;
    margin-right: 20px;

}

/* أيقونة الجرس */
.navbar-content .notification-icon {
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-content .notification-icon:hover {
    color: #FFD700;
}

/* قائمة الإشعارات */
.navbar-content .notifications-dropdown {
    position: absolute;
    top: 40px;
    right: -100px;
    width: 250px;
    background: white;
    color: #541A7D;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* عنصر الإشعار */
.navbar-content .notification-item {
    padding: 10px;
    border-bottom: 1px solid #541A7D;
    transition: background 0.3s;
}

.navbar-content .notification-item:hover {
    background: #9E7DB7;
}

/* عندما لا توجد إشعارات */
.navbar-content .notification-item.empty {
    text-align: center;
    color: gray;
    font-style: italic;
}
