body{
    padding: 0;
    margin: 0;
    background-image: url('../assets/image/Home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Navbar {
    width: 100%;
    height: 80px;
    background-color: #E2D3DB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0 50px;
    align-self: flex-start;
}
.logouticon{
    width: 40px;
    height: 40px;
}

.logoicon{
    width: 123px;
    height: 92px;
    padding: 5px;
}