/* خلفية الصفحة */
.Registration-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #541a7d8f;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.282);
    align-items: center;
}

/* عنوان الرسالة */
.Registration-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
}

.photoDone{
    margin: 5px;
}
/* نص الرسالة */
.Registration-text {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    line-height: 1.7;
}



.register-card h5{
    color: #541A7D;
    font-weight: bold;
}

/* تنسيق الحقول */
.register-card .form-label {
    color: #541A7D;
    text-align: center;
}


.register-card .form-control {
    width: 300px;
    font-weight: bold;
    text-align: center;
    color: #541A7D;
    margin-right: 80px;
}

.register-card .togglePassword{
    margin-right: 100px !important;
}

/* تنسيق الأزرار */
.Registration-btn , .back-btn {
    width: 150px;
    height: 50px;
    background-color: #541A7D;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.Registration-btn:hover , .back-btn:hover {
    background-color: #E7DEEC;
    color: #541A7D;
    border: 2px solid #541A7D;
}

