/* الشريط الجانبي */
.sidebar {
    width: 270px;
    height: 100vh;
    background: #9E7DB7;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

}
.sidebar.rtl {
    left: 0;
    direction: rtl;
    border-radius: 0px 0px 15px 0px;
}
.sidebar.ltr {
    right: 0;
    left: auto;
    direction: ltr;
    border-radius: 0px 0px 0px 15px;
}
/* اللوجو */
.sidebar .logo-container {
    width: 270px;
    height: 150px;
    background: #FAF0FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar.rtl .logo-container{
    border-radius: 0px 15px 15px 15px;
}
.sidebar.ltr .logo-container{
    border-radius: 15px 0px 15px 15px;

}

.sidebar .logo {
    width: 170px;
    height: auto;
}

/* القائمة */
.sidebar .nav-link {
    width: 220px;
    margin: 10px;
    padding: 10px;
    color: white !important;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.3s ease;
}

.sidebar.ltr .nav-link {
    font-size: 16px;
}

.sidebar .nav-link:hover {
    background: #541A7D;
    border-radius: 5px;
}

/* الرابط النشط */
.sidebar .active-link {
    background: #541A7D !important;
    border-radius: 5px;
}


/* أيقونات */
.sidebar .nav-link .icon {
    color: #ffffff;
    font-size: 25px;
}

/* زر تسجيل الخروج */
.sidebar .logout {
    color: #FFD1D1 !important;
}
.sidebar .logout:hover {
    background: #8B0000;
}
